.preview-area {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
  background-color: #242424;
}

/* CV Preview */
.cv-box {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #f3f3f3;
  width: 32rem;
  height: 44.8rem;
  display: flex;
  flex-flow: column;
  padding: 0.5rem 1rem;
}
/* CV Header */
.cv-box-header {
  display: flex;
  height: 15%;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  background-color: var(--primary-orange);
  padding: 3rem 1rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  color: white;
  text-align: left;
}

.cv-box-name-title {
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
}

.cv-box-name-title p {
  font-size: 1rem;
}
.cv-box-header .contact-info-lines {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
  line-height: 0.7rem;
  color: white;
}

.cv-box-header a {
  color: white;
  transition: all linear 0.2s;
  border: none;
  text-decoration: none;
}
.cv-box-header a:hover {
  border-bottom: 1px solid white;
  color: white;
}
.cv-box-name-title > * {
  margin: 0;
}

.cv-box-header h4 {
  color: white;
  font-size: 1.5rem;
}

/*Top of CV (Bio + Skills)*/
.bio-and-skills {
  display: flex;
  max-width: 100%;
  height: 2rem;
  margin-bottom: 5rem;
}

/* Bio Section */
.preview-bio {
  text-align: justify;
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  padding-left: 1rem;
  width: 100%;
  flex: 2;
  word-wrap: break-word;
}
.preview-bio h3 {
  margin-bottom: 0;
}
.preview-bio p {
  color: black;
  font-size: 0.6rem;
  margin-top: 0;
  line-height: 0.8rem;
}

/* Skills Section */
.preview-skills {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding-left: 1rem;
  text-align: left;
}
.preview-skills h3 {
  margin-bottom: 0;
}
.preview-skills ul,
.preview-skills li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: black;
  font-size: 0.6rem;
  text-align: left;
  width: 100%;
}
.preview-skills li {
  padding: 0.2rem 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.preview-skill-value {
  color: var(--primary-orange);
  font-weight: 600;
}

/*Experience Preview Area*/

.preview-experience {
  text-align: left;
  display: flex;
  flex-flow: column;
  color: #242424;
  margin-left: 1rem;
}

.preview-experience h3 {
  margin-bottom: 0.4rem;
}

.preview-experience p {
  margin: 0;
  line-height: 1rem;
}

.preview-xp-time {
  color: #242424;
  font-size: 0.6rem;
}
.xp-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
.xp-flex-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.xp-block {
  margin-bottom: 1rem;
}
