/* Whole Area styling */
.input-area {
  background-color: var(--background-input);
  overflow-y: scroll;
}

/*Vertical Flow Flex sections*/
.contact-info,
.input-area,
.short-bio {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  text-align: left;
}

/* Headings */
.input-area-heading {
  font-size: 1.4rem;
  margin-bottom: 0;
  color: var(--headings);
}

/* Form groups for more inputs in one line */
.form-group-row {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
/* Label + Input */
.input-text-group {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: 0.9rem;
  color: #666;
  flex: 1;
}
/* Text Input */
.text-input,
textarea {
  background-color: white;
  height: 3rem;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all linear 0.2s;
  color: #333;
  width: 100%;
}
textarea {
  resize: vertical;
  height: 8rem;
  font-family: inherit;
  margin: 0;
  min-width: 100%;
}
.text-input:focus,
textarea:focus {
  outline: 2px solid var(--primary-orange);
}

.text-input::placeholder,
textarea::placeholder {
  font-style: italic;
  font-size: 0.8rem;
  opacity: 0.6;
}
/* Add Skills Section */
.input-skills {
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#add-skill-btn {
  margin: 1rem 0;
}

button.btn.secondary-btn {
  background-color: #f3f3f3;
  border: 1px solid var(--primary-orange);
  color: var(--primary-orange);
  transition: all 0.2s linear;
}
button.btn.secondary-btn:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.del-btn {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1.6rem;
  background: rgb(255, 192, 192);
  border: 1px solid coral;
  color: darkred;
}

/* Experience Section */

/* Input Fields Layout*/
.experience-input-fields {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 2rem 0;
  gap: 1rem;
}
.experience-input-fields > * {
  flex: 0 0 calc(50% - 1.1rem);
}

/* Date Picker */
.period-picker {
  display: flex;
  gap: 1rem;
}

.period-picker label {
  color: #666;
}

.date-picker input[type="date"] {
  height: 3rem;
  padding: 1rem;
  background-color: #aaa;
  color: white;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
