* {
  box-sizing: border-box;
}

#root {
  text-align: center;
  --primary-orange: #f2614a;
  --background-input: #eee;
  --headings: #151e3f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings);
}

.App {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
}
/* Split two areas in half */
.input-area,
.preview-area {
  flex: 0 0 50%;
  padding: 1rem 3rem 1rem 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
